.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 338px;
    left: 150px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 400px;
    top: 20px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 60px;  
    left: 408px;
    z-index: 5;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 120px;
    z-index: 3;
    left: 650px;

  }