h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    width: 200px;
    display:block;
    text-align: center;
    margin-left: 400px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display:inline-block;
    margin-left: 200px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block
  }

  ul li {
    display:inline-block;
    text-align: center;
    margin-left: auto;
  }

  h3 {
    text-align: center;
  }
  
  #first-push {
    margin-left: 200px;
  }

  #second-push {
    margin-left: 220px;
  }

  #third-push {
    margin-left: 220px;
  }
  

  