* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #fdfdff;
}

h1 {
  margin-top: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

#btn-section {
  margin-bottom: 20px;
  width: 38%;
  height: 5.5vh;
  display: flex;
  justify-content: space-around;
}

#btn-section button {
  width: 25%;
  padding: 6px 0;
  background-color: #DC9596;
  border: none;
  border-radius: 7px;
  border-bottom: 1px solid #730071;
  border-right: 1px solid #730071;
  font-size: 14px;
  font-weight: 700;
  color: #390040; 
}

#image-section {
  width: 40%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  border: 12px solid white;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

@media only screen and (max-width: 767px) {
  h1 {
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 58px;
    margin-bottom: 32px;
  }
  
  #btn-section {
    width: 98%;
  }
  
  #btn-section button {
    font-size: 10px;
  }
  
  #image-section {
    width: 90%;
    height: 60vh;
  }
}