.super-mario {
    width: 50px;
    position: absolute;
  }
  
  .goomba {
    width: 50px;
    position: absolute;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 50px;
    position: absolute;
  }